/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: 'Lora','Segoe UI', sans-serif;
  line-height: 1.6;
  color: white;
}

h1, h2{
  
  font-family: 'Cinzel', serif;
  
}

/* Parallax */
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 100px 20px;
}

.parallax-header {
  background-image: url('../imagenes/fondo_header.jpg');
}

.parallax-footer {
  background-image: url('../imagenes/fondo_footer.jpg');
  padding: 40px 20px;
}

/* Autor */
.autor-section {
  background: #406E8E;
  padding: 40px 20px;
  text-align: center;
}

/* Libros */
.libros-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #161925;
  padding: 40px 20px;
  align-items: stretch;
}

.libro-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #23395B;
  margin: 15px;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.libro-card:hover {
  transform: scale(1.05);
}

.libro-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.link-legal {
  color: white;
  text-decoration: none;
}

.link-legal:visited {
  color: #cccccc; /* Color gris claro cuando el enlace ha sido visitado */
}

.link-legal:hover {
  text-decoration: underline;
  color: #dddddd;
}

.github-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.github-link:hover .github-icon {
  transform: scale(1.2);
}

/* Animaciones */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
.fade-in {
  animation: fadeIn 2s ease-in;
}

@keyframes slideIn {
  from {transform: translateY(30px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}
.slide-in {
  animation: slideIn 1s ease-in;
}

/* Responsive */
@media (max-width: 768px) {
  .libros-section {
    flex-direction: column;
    align-items: center;
  }
}
